[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
beautifulsoup4 = "*"
requests = "*"
pandas = "*"
selenium = "*"
chromedriver = "*"
black = "*"

[dev-packages]
pylint = "*"

[requires]
python_version = "3.8"
